body{
/*    font-family:'Times New Roman';*/
}
.ff{
    font-family:'Times New Roman';
}
.lspace{
    letter-spacing: 0.6rem
}
.nav-item a{
    color:#fff !important;
    font-weight:bold;
    margin-left:1rem;
}       
b{
    color:white;
}
#footer  {
    color:white;
    margin-top: 50px; 
}
.container{
    border: 2px solid #000;
    background-color: #44408a;
    /*background-image: url(../images/bgimage.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;*/
    color: #fff;
}
.bg{
    background-color: #005427;

}
.tbs{
    color:#fff;
    font-size: 1.2rem;
    font-weight: bold;
}
.tbs:hover{
    color: #000;
}


/* Start Gallery CSS */
.thumb {
    margin-bottom: 15px;
}
.thumb:last-child {
    margin-bottom: 0;
}
/* CSS Image Hover Effects: https://www.nxworld.net/tips/css-image-hover-effects.html */
.thumb figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.thumb figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner{
        height: 300px;
    }
    
    .lspace strong{
        letter-spacing: 0.3rem;
        border-bottom: 2px solid #fff;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .banner{
        height: 500px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
